<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @timesheet.date %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @timesheet.employee.name %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @timesheet.activity.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @timesheet.day.timeslot %>
</p>

<p>
  <strong>Workstream:</strong>
  <%= @timesheet.workstream.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @timesheet.notes %>
</p>

<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |
<%= link_to 'Back', timesheets_path %>
