<h1>Reports</h1>

<%= link_to 'Dashboard', '/' %>

<%= high_chart("my_id4", @chart4) %>

<%= @report_time %>

<%= @text %>

<%= @client_count2 %>

<%= @emp_count2 %>

<%= @total_time_array %>

<%= @report_time3 %>