<h1>Dashboard</h1>

<p>
<%= link_to 'Cost Management', costs_path %>
</p>

<p>
<%= link_to 'Rate Management', rates_path %>
</p>

<p>
<%= link_to 'Employee Management', employees_path %>
</p>

<p>
<%= link_to 'Day Management', days_path %>
</p>

<p>
<%= link_to 'Activity Management', activities_path %>
</p>

<p>
<%= link_to 'Client Management', clients_path %>
</p>

<p>
<%= link_to 'Workstream Management', workstreams_path %>
</p>

<p>
<%= link_to 'Timesheet Management', timesheets_path %>
</p>

<p>
<%= link_to 'Reporting Management', charts_path %>
</p>

